#root {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    place-items: center;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter, transform;
    transition: all 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #ff4a4a);
    transform: scale(1.1);
}

.description {
    margin: 2em auto 0 auto;
    max-width: 320px;
}

.links {
    padding: 1em;
}

.icon-link {
    margin: 0 0.5em;
    font-size: 2em;
    will-change: color, transform, filter;
    transition: all 300ms;
    display: inline-block;
}

.icon-link:hover {
    color: #ff4a4a;
    transform: scale(1.1);
    filter: drop-shadow(0 0 2em #ff4a4a);
}

.icon-link > i {
    margin: 0.5em;
}
